node-red/flows.json
[{"id":"19755912.0a6f47","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ef1f84da.b6e028","type":"comment","z":"19755912.0a6f47","name":"If Self-Signed Cert Error","info":"To get rid of self-signed cert error in HTTP\nEither add a proper cert or\nadd this line to the \nprocess.env.NODE_TLS_REJECT_UNAUTHORIZED = \"0\";\n","x":700,"y":400,"wires":[]},{"id":"7e98e9d0.599cc8","type":"ffmpeg-conversion","z":"19755912.0a6f47","name":"","format":"wav","audiochannels":"mono","x":170,"y":220,"wires":[["e51d39a7.3dec78"]]},{"id":"bc93a396.45677","type":"file in","z":"19755912.0a6f47","name":"File Reader","filename":"","format":"","sendError":true,"x":430,"y":140,"wires":[["7e98e9d0.599cc8"]]},{"id":"e51d39a7.3dec78","type":"http request","z":"19755912.0a6f47","name":"STT Service","method":"POST","ret":"obj","url":"","tls":"","x":430,"y":220,"wires":[["35f54e5e.dbe702","20d4e319.a3f5bc","d797b856.7a4188"]]},{"id":"16f4ea8.311ee16","type":"function","z":"19755912.0a6f47","name":"Prepare","func":"console.log(msg.req.body)\n\nmsg.language =  ((msg.payload.language !== undefined)?msg.payload.language:\"en-US\");\nmsg.model = ((msg.payload.model !== undefined)?msg.payload.model:\"BroadbandModel\");\nmsg.multipleSpeakers = ((msg.payload.multipleSpeakers !== undefined)?msg.payload.multipleSpeakers:false);  \nmsg.respendpoint = msg.payload.respendpoint;\nmsg.correlationId = msg.payload.correlationId;\nmsg.filename = msg.payload.filename;\nmsg.outputStyle = ((msg.payload.outputStyle !== undefined)?msg.payload.outputStyle:\"VTT\");\nmsg.timePerLine     = ((msg.payload.timePerLine !== undefined)?msg.payload.timePerLine:2.1);\nmsg.suppressHesitations = ((msg.payload.suppressHesitations !== undefined)?msg.payload.suppressHesitations:false);\nmsg.suppressSpeakerLabels = ((msg.payload.suppressSpeakerLabels !== undefined)?msg.payload.suppressSpeakerLabels:false);\n\n\nmsg.headers = {'Content-Type' : 'audio/wav'};\n\nvar lang_model = \"model=\"+msg.language+\"_\"+msg.model;\nif (msg.multipleSpeakers === \"true\"){\n    msg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&\"+lang_model+\"&speaker_labels=true\";\n} else {\n    msg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&\"+lang_model;\n}\n\nmsg.url += \"&smart_formatting=true\";\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":140,"wires":[["bc93a396.45677"]]},{"id":"a24c86ed.4baea8","type":"http in","z":"19755912.0a6f47","name":"HTTP GET","url":"/api/webvtt","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["956a7cee.124fb","16f4ea8.311ee16"]]},{"id":"9c36ee0b.2fb5a","type":"function","z":"19755912.0a6f47","name":"SOAP Formatter","func":"var newmsg={\n//  server:\"https://rcbpm3.bpm4business.com:43219/teamworks/webservices/VT01/STTComplete.tws\",\n  options:{},\n  headers:{},\n  payload:{\n      webvtt: \"<![CDATA[\"+msg.payload+\"]]>\",\n      status: \"OK\",\n      correlationId: msg.correlationId\n  }\n};\n\nmsg.payload ='<soap:Envelope xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:stt=\"http://VT01/STTComplete.tws\"><soap:Header/><soap:Body><stt:STT_Results><stt:webvtt>'+\n'<![CDATA['+msg.payload+\n\"]]>\"+\n'</stt:webvtt>\\n'+\n'<stt:status>'+msg.statusCode+'</stt:status>\\n'+\n'<stt:correlationId>'+msg.correlationId+'</stt:correlationId>\\n'+\n'</stt:STT_Results>\\n'+\n'</soap:Body>\\n'+\n'</soap:Envelope>';\n\ndelete msg[\"statusCode\"];\ndelete msg[\"headers\"];\ndelete msg[\"req\"];\ndelete msg[\"res\"];\ndelete msg[\"url\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["858e62aa.ee36a"]]},{"id":"956a7cee.124fb","type":"function","z":"19755912.0a6f47","name":"Return Status","func":"msg.payload = {\"file_200\":\"OK\"};\nmsg.payload = \"\";\n//msg.headers = {\"Content-Type\":\"text/plain\",\"Accept\": \"text/plain\"};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Accept\": \"application/json\"};\n//msg.headers = {\"Content-Type\":\"application/xml\",\"Accept\": \"application/xml\"};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["1dc36284.fb042d"]]},{"id":"6bdc02e1.a88d9c","type":"http request","z":"19755912.0a6f47","name":"","method":"POST","ret":"txt","url":"https://rcbpm3.bpm4business.com:43219/teamworks/webservices/VT01/STTComplete.tws","tls":"","x":670,"y":360,"wires":[[]]},{"id":"1dc36284.fb042d","type":"http response","z":"19755912.0a6f47","name":"","x":690,"y":60,"wires":[]},{"id":"858e62aa.ee36a","type":"http request","z":"19755912.0a6f47","name":"","method":"POST","ret":"txt","url":"http://localhost:8000/SubtitlesReceiver","tls":"","x":670,"y":320,"wires":[[]]},{"id":"35f54e5e.dbe702","type":"debug","z":"19755912.0a6f47","name":"","active":true,"console":"false","complete":"true","x":690,"y":220,"wires":[]},{"id":"20d4e319.a3f5bc","type":"watson-closed-captions","z":"19755912.0a6f47","name":"","timePerLine":2,"ccStyle":"SRT","suppressHesitations":false,"suppressSpeakerLabels":false,"verbose":true,"x":190,"y":320,"wires":[["9c36ee0b.2fb5a"]]},{"id":"d797b856.7a4188","type":"file","z":"19755912.0a6f47","name":"","filename":"/data/raw.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":670,"y":460,"wires":[]}]